root = true

[*.{kt,kts}]
ij_kotlin_name_count_to_use_star_import = 999
ij_kotlin_name_count_to_use_star_import_for_members = 999
insert_final_newline = true
ij_kotlin_imports_layout = *, java.**, javax.**, kotlin.**, ^
ktlint_code_style = android
ktlint_standard_no-wildcard-imports = enabled
ktlint_standard_import-ordering = enabled
ktlint_standard_filename = disabled
ktlint_standard_function-naming = disabled
ktlint_standard_function-signature = disabled
ktlint_standard_multiline-expression-wrapping = disabled
ktlint_standard_chain-method-continuation = disabled
ktlint_standard_no-empty-first-line-in-class-body = disabled
ktlint_standard_class-signature = disabled
ktlint_standard_function-literal = disabled
